@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-1000: #131128;
  --neutral-200: #e0dff1;
  --white: white;
  --primary-1: #6639e4;
  --neutral-900: #282454;
  --neutral-800: #53516c;
  --neutral-700: #6b6888;
  --neutral-600: #a09fb4;
  --neutral-500: #7a73c4;
  --neutral-400: #9c97d3;
  --neutral-300: #bebbe2;
  --neutral-100-1001: #f1f1f9;
  --primary-2: #f66688;
  --secondary-1: #dfdcff;
}
::-webkit-scrollbar{
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--neutral-1000);
    color: var(--neutral-200);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.778em;
}
.section-container{
  max-width: 1280px;
  margin-inline: auto;
}
.nav-links li{
  color: var(--white);
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143em;
  text-decoration: none;
  transition:  0.3s all;
  cursor: pointer;
}
.nav-links li:hover{
  color: var(--primary-1);
}
h1{
  color: var(--white);
    letter-spacing: -.01em;
    margin-top: 0;
    margin-bottom: 10px;
    font-size:clamp(40px,5vw,66px);
    font-weight: 700;
    line-height: 1.212em;
}
h2{
  color: var(--white);
    letter-spacing: -.01em;
    margin-top: 0;
    margin-bottom: 10px;
    font-size:clamp(20px,5vw,45px);
    font-weight: 700;
    line-height: 1.212em;
}
h4{
  color: var(--white);
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.071em;
}
p{
  font-size: 18px;
  line-height: 1.625em;
  font-weight: 500;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description{
  color: var(--neutral-200);
}
.title{
  color: var(--neutral-100-1001);
}
.primary-bg{
  background-color: var(--neutral-900);
}
.secondary-bg{
  background-color: var(--primary-1);
}
.btn{
background-color: var(--primary-1);
font-weight: 600;
border-radius: 1.5rem;
transition: 0.3s;
}
.btn:hover{
  background-color: var(--neutral-900);
}
@media (max-width:768px){
  .companies svg{
    max-width: 8rem;
  }
}
.crypto-card{
  @apply bg-[#282454] w-full md:py-[39px] p-7 md:px-[24px] rounded-[2.5rem]
}